body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 50px;
}

#logo {
    max-width: 300px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    color: #00adee;
}

#calculator {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    width: 100%;
    max-width: 450px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: #00adee;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #007bbd;
}

#results {
    margin-top: 20px;
    font-size: 1.2rem;
}

#mechanic-selection,
#engine-selection,
#drivetrain-selection {
    margin-bottom: 20px;
}

#mechanic-selection div,
#engine-selection div,
#drivetrain-selection div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

#mechanic-selection div label,
#engine-selection div label,
#drivetrain-selection div label {
    flex: 1;
}

input[name="quantity"] {
    width: 50px;
    text-align: center;
    margin-left: 10px;
}
/* Styles for the Servicing button on the main page */
.servicing-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00adee;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.servicing-button:hover {
    background-color: #007bbd;
}

